mail:
    loco:
        loco_key: XXX
    build:
        keystore_path: /Users/.../keystores/key.jks
        key_alias: MyFavoriteKey
        build_task: bundleStandardRelease
    global:
        package_name: com.infomaniak.mail
        project_root: /Users/.../android-mail/app

drive:
    loco:
        loco_key: YYY
    global:
        package_name: com.infomaniak.drive
        project_root: /Users/.../android-kDrive/app

ksuite:
    loco:
        loco_key: WWW
        tag: my-ksuite
    global:
        project_root: /Users/.../android-mail/Core/MykSuite/

global:
    loco:
        core_key: ZZZ
    login:
        id: bob@infomaniak.com
        pwd: 1234