mail:
    loco:
        project_root: /Users/.../android-mail/app
        loco_key: XXX

drive:
    loco:
        project_root: /Users/.../android-kDrive/app
        loco_key: YYY

global:
    login:
        id: bob@infomaniak.com
        pwd: 1234