mail:
    loco:
        loco_key: XXX
    global:
        package_name: com.infomaniak.mail
        project_root: /Users/.../android-mail/app

drive:
    loco:
        loco_key: YYY
    global:
        package_name: com.infomaniak.drive
        project_root: /Users/.../android-kDrive/app

global:
    login:
        id: bob@infomaniak.com
        pwd: 1234